In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Wczytaj dane z pliku CSV
dtype = [('sex', 'U10'), ('variable_name', 'f8'), ('arithmetic_mean', 'f8'), ('standard_deviation', 'f8'), ('min_value', 'f8'), ('first_quartile', 'f8'), ('second_quartile', 'f8'), ('third_quartile', 'f8'), ('max_value', 'f8')]
data = np.genfromtxt("data.csv", delimiter=",", dtype=dtype)

# Zlicz wystąpienia 'M' w kolumnie 'sex'
count_m = np.count_nonzero(data['sex'] == 'M')
count_f = np.count_nonzero(data['sex'] == 'F')
count_i = np.count_nonzero(data['sex'] == 'I')
# Zlicz łączną ilość wystąpień
total_count = count_m + count_f + count_i
percent_m = (count_m / total_count) * 100
percent_i = (count_i / total_count) * 100
percent_f = (count_f / total_count) * 100
b = {'count':[count_m, count_i, count_f],'%':[round(percent_m,2),round(percent_i,2),round(percent_f,2)]}
df_b = pd.DataFrame(b)
df_b.index = ['Male','Infant','Female']
df_b

Liczba wystąpień 'M' w kolumnie 'sex': 1528
Liczba wystąpień 'F' w kolumnie 'sex': 1307
Liczba wystąpień 'I' w kolumnie 'sex': 1342
Liczba wszystkich wystąpień:  4177

        count      %
Male     1528  36.58
Infant   1342  32.13
Female   1307  31.29